TURING_VAULT_ADDRESS: Public Stellar address where you want to receive fee payments
TURING_RUN_FEE: XLM you want to get paid per submitted xdr you sign for
TURING_UPLOAD_FEE: XLM you want to get paid per uploaded contract
TURING_DUPE_LIMIT: Number of duplicate transaction hashes per contract every 1 minute
TURING_UNIQ_LIMIT: Number of unique transaction hashes per contract every 1 hour

PG_USER:
PG_HOST:
# PG_DATABASE:
PG_PASSWORD:
PG_PORT:

# AWS_BUCKET_NAME:

STELLAR_NETWORK: TESTNET|PUBLIC

# SERVICE_NAME: